# Virtual Environment
venv/
env/
ENV/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# Data files
data/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
